src/main/resources/META-INF/kevin.xsd

<?xml version="1.0" encoding="UTF-8" ?>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.kevin.com/schema/kevinInfo"
            elementFormDefault="qualified">

    <element name="kevinInfo">
        <complexType>
            <!-- bean id -->
            <attribute name="id" type="string" />
            <attribute name="name" type="string"/>
        </complexType>
    </element>
</schema>